<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recipe Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1><b>Recipe Title</b></h1>
  <h2>Ingredients</h2>

  <ion-card>
    <ion-card-header>
      <img alt="Ingredient image" src=""/>
    </ion-card-header>

    <ion-card-content>
      <h2>This will be each ingredient</h2>
      <p><i>Measurement</i></p>
    </ion-card-content>
  </ion-card>

  <h2>Instructions</h2>
  <ol>
    <li>Each instruction</li>
  </ol>
  <br>
  <ion-button>
    <ion-icon name="heart"></ion-icon>
    ADD TO FAVOURITES
  </ion-button>
</ion-content>
