<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recipe Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Added ngIf condition to make sure the recipe Id is loaded when loading the page -->
  <ng-container *ngIf="recipeData">
    <h1><b>{{recipeData.title}}</b></h1>
    <img alt="Recipe image" src="{{recipeData.image}}">
    <ul>
      <li>Preparation time: {{recipeData.readyInMinutes}} minutes</li>
      <li>Servings: {{recipeData.servings}}</li>
    </ul>
  </ng-container>

  <ion-button (click)="addToFavourites()">
    <ion-icon name="heart"></ion-icon>
      ADD TO FAVOURITES
  </ion-button>
  <ion-button (click)="goHome()">
      HOME
  </ion-button>

  <h2>Ingredients</h2>

  <!-- Added the ngIf condition in order to avoid the app to crash if the ingredients list is null -->
  <ng-container *ngIf="recipeData?.extendedIngredients?.length">
    <ion-card *ngFor="let ingredient of recipeData.extendedIngredients">
      <ion-card-header>
        <img alt="{{ingredient.name}}"
          src="https://spoonacular.com/cdn/ingredients_100x100/{{ingredient.image}}"
          style="width: 50px; height: 50px";/>
        </ion-card-header>
      <ion-card-content>
        <h2>{{ingredient.original}}</h2>
        <p><i>{{ingredient.measures.metric.amount}} 
          {{ingredient.measures.metric.unitLong}}</i></p>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <!-- Added the ngIf condition in order to avoid the app to crash if the steps list is null -->
  <ng-container *ngIf="recipeData?.analyzedInstructions?.[0]?.steps?.length">
    <h2>Instructions</h2>
    <ol>
      <li *ngFor="let step of recipeData.analyzedInstructions[0].steps">
        {{step.step}}
      </li>
    </ol>
  </ng-container>

  <br>
  <hr>
  <hr>
  <br>

</ion-content>
