<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recipe Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1><b>{{recipeData.title}}</b></h1>
  <img alt="Recipe image" src="{{recipeData.image}}">
  <ul>
    <li>Preparation time: {{recipeData.readyInMinutes}} minutes</li>
    <li>Servings: {{recipeData.servings}}</li>
  </ul>
  <h2>Ingredients</h2>

  <ion-card>
    <ion-card-header>
      <img alt="Ingredient image" src="{{recipeData.extendedIngredients[0].image}}"/>
    </ion-card-header>
    <ion-card-content>
      <h2>{{recipeData.extendedIngredients[0].original}}</h2>
      <p><i>{{recipeData.extendedIngredients[0].measures.metric.amount}} 
        {{recipeData.extendedIngredients[0].measures.metric.unitLong}}</i></p>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="recipeData?.analyzedInstructions?.[0]?.steps?.length">
    <h2>Instructions</h2>
    <ol>
      <li *ngFor="let step of recipeData.analyzedInstructions[0].steps">
        {{step.step}}
      </li>
    </ol>
  </ng-container>
  
  <ion-button>
    <ion-icon name="heart"></ion-icon>
    ADD TO FAVOURITES
  </ion-button>
</ion-content>
