<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      G00438792
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="heart"></ion-icon>
      <ion-icon name="settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar [(ngModel)]="ingredients" placeholder="Enter ingredients separated by a comma"></ion-searchbar>
  <ion-button (click)="searchRecipes()">Search</ion-button>
  <h2>Not sure what you're looking for?</h2>
  <p><i>Take a peek through the options below</i></p>
  <br>
  <ion-button (click)="searchPopularRecipes()">Most popular</ion-button>
  <ion-button (click)="searchVegan()">Vegan</ion-button>
  <ion-button (click)="searchGlutenFree()">Gluten free</ion-button>

  <ion-card *ngFor="let recipe of recipeData">
    <img alt="Recipe image" src="{{recipe.image}}"/>
    <ion-card-header>
      <ion-card-title>{{recipe.title}}</ion-card-title>
      <!-- Display custom text and icon if pecific values equal true -->
      <ion-card-subtitle>
        <ion-icon *ngIf="recipe.veryPopular" name="sparkles"></ion-icon>
        {{recipe.veryPopular ? "Popular!" : ""}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="loadRecipeDetails(recipe.id)">Details</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
